.dou-DaskLogo {
  background-image: url(chemistry.svg);
}

#setting-editor .dou-DaskLogo {
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

.dou-DaskSidebar {
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size1);
  overflow: auto;
}

.pt_button {
  border: 0;
  line-height: 2.5;
  height: 150px;
  width: 150px;
  font-size: 1rem;
  text-align: bottom;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: #000000;
  background-image: url(periodic-table.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 150px auto;
}

.pt_button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.pt_button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.jmol_button {
  border: 0;
  line-height: 2.5;
  height: 150px;
  width: 150px;
  font-size: 1rem;
  text-align: bottom;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: #000000;
  background-image: url(molecule.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 150px auto;
}

.jmol_button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.jmol_button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
